<div reveal-annotations>
    <div class="col-sm-6">
        <h3>
            <button ng-click="lockAnnotations()" type="button" class="btn btn-default pull-right">
                <i class="fa fa-eye{{vv.revealAnnotations && '-slash'||''}}"></i>
            </button>
            {{manifest.label|| text.label}}
            <button ng-repeat="m in manifests" class="debug"
                    type="button" ng-click="pickM(m)">
                {{m.label}}
            </button>
            <button type="button" ng-click="pickM(false)" class="debug">
                {{text[0].label}}
            </button>
        </h3>
        <div ng-if="manifest">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-default"
                        ng-repeat="c in manifest.sequences[0].canvases"
                        ng-class="{active:inTime(c.otherContent[0].resource)}"
                        ng-click="seekTo(c.otherContent[0].resource)">
                    {{c.label||$index}}
                </button>
            </div>
            <sc-canvas class="position-relative overflow-hidden btn-block"
                       ng-class="{visible:vv.revealAnnotations}"
                       ng-repeat="c in manifest.sequences[0].canvases"
                       ng-show="inTime(c.otherContent[0].resource)">
                <img selector="c['@id']"
                     width='100%'
                     alt="{{c.label}}">
                <canvas></canvas>
                <div ng-repeat="anno in c.otherContent[1]['@list']"
                ng-init="a=rerum.getResource(anno)"
                     class="bookmark"
                     ng-class="{active:inTime(thisOn(a.on,manifest.resources[0]))}"
                     ng-click="seekTo(thisOn(a.on,manifest.resources[0]))"
                     ng-style="annotationStyle(thisOn(a.on,c['@id']), c)"></div>
            </sc-canvas>
        </div>
        <div ng-if="!manifest" class="publishedText">
            <!--show text with all images subordinated-->
            <div ng-repeat="l in text[0].lines"
                 ng-init="line = rerum.getResource(l)"
                 ng-class="{active:inTime(line.on[3])}">
                {{getText(line)}}
            </div>
        </div>
    </div>
        <div class="col-sm-6" ng-repeat="music in performances" ng-show="thisOn(manifest.resources,music['@id'])">
        <wavesurfer ng-attr-url="{{music.resource['@id']}}"
                    wave-color="#333"
                    progress-color="#002147"
                    min-px-per-sec=1>
        <h4><button class="btn btn-default pull-right" ng-click="wavesurfer.playPause()"
            ng-show="wavesurfer.ready">
                <i class="fa" ng-class="{'fa-play':paused,'fa-pause':!paused}"></i>
                <span class='timer'>{{vv.currentTime[music['@id']]|number:2}}
                <span ng-hide="vv.currentTime[music['@id']]">Play</span>
            </span>
            </button> {{music.label}}</h4>
                        <div ng-class="{loader:!wavesurfer.ready}" class="clearfix"></div>
        </wavesurfer>



            <!--            <div ng-repeat="anno in text[0].lines" class="btn-block fadeIn"
                             ng-init="on=rerum.getResource(anno).on[3]"
             ng-show="inTime(on)">

            <card ng-repeat="target in rerum.getTargets(anno, 'TEXT') track by $index">
            {{rerum.getResource(target).label || rerum.getResource(target)['@id']}}
            <p class="publishedText">
                {{rerum.selectWithOffset(target) || "LOADING ERROR"}}
            </p>
            </card>

            <card ng-repeat="target in rerum.getTargets(anno, 'IMAGE') track by $index">
            {{rerum.getResource(target).label || rerum.getResource(target)['@id']}}
            <img selector="target" width="100%">
            </card>
                     </div> -->
        </div>
    <div class="col-sm-6" ng-controller="viewController">
        <card ng-repeat="line in lines" ng-show="thisOn(manifest.resources,line.mid[0]).length && inTime(line.mid.join('#t='))">
        {{line.label}}
        <img selector="line.selector" width="100%">
        </card>
    </div>
</div>
