<div reveal-annotations>
    <div class="col-sm-9" ng-class="{'col-sm-6':vv.showWav}">
        <h3>
            <button ng-click="vv.showWav=undefined" ng-show="vv.showWav"
class="btn btn-primary" tooltip="Show only the manuscript">
<i class="fa fa-expand"></i>
</button>
            <button ng-click="lockAnnotations()" type="button" class="btn btn-default pull-right"
            tooltip="{{vv.revealAnnotations && 'Hide'||'Show'}} all image annotations">
            <i class="fa fa-eye{{vv.revealAnnotations && '-slash'||''}}"></i>
        </button>
        <span ng-bind-html="vv.manifest.label|| text.label"></span>
    </h3>
    <div class="form-group">
        <div class="btn-group pull-right" ng-hide="vv.manifest.sequences[0].canvases.length>6">
            <button type="button" class="btn btn-xs btn-default"
            ng-repeat="c in vv.manifest.sequences[0].canvases"
            ng-class="{active:vv.selectedCanvas.indexOf($index)+1}"
            ng-click="pickCanvas($index)">
            {{c.label||$index}}
        </button>
    </div>

<div class="btn-group" dropdown ng-show="vv.manifest.sequences[0].canvases.length>6">
      <button type="button" class="btn btn-default btn-sm btn-block dropdown-toggle" dropdown-toggle >
        {{vv.manifest.sequences[0].canvases[vv.selectedCanvas].label||vv.selectedCanvas}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="c in vv.manifest.sequences[0].canvases">
            <a ng-click="pickCanvas($index)">
{{vv.manifest.sequences[0].canvases[$index].label||$index}}
            </a>
        </li>
      </ul>
    </div>

    <sc-canvas class="position-relative overflow-hidden btn-block"
    ng-class="{visible:vv.revealAnnotations}"
    ng-repeat="cindex in vv.selectedCanvas">
    <img selector="vv.manifest.sequences[0].canvases[cindex]['@id']"
    width='100%'
    alt="{{vv.manifest.sequences[0].canvases[cindex].label}}">
    <rcanvas></rcanvas>
    <div ng-repeat="anno in vv.manifest.sequences[0].canvases[cindex].otherContent[1]['@list']"
    ng-init="a=rerum.getResource(anno)"
    class="bookmark"
    ng-class="{active:inTime(thisOn(a.on,vv.manifest.resources))}"
    ng-click="seekTo(thisOn(a.on,vv.manifest.resources))"
    ng-style="annotationStyle(thisOn(a.on,vv.manifest.sequences[0].canvases[cindex]['@id']), vv.manifest.sequences[0].canvases[cindex])"></div>
</sc-canvas>
</div>
<div ng-show="vv.manifest.metadata">
<button ng-click="vv.showData[vv.manifest['@id']]=!vv.showData[vv.manifest['@id']]"
class="btn btn-info btn-block btn-responsive">
<i class="fa fa-info-circle"></i>
Metadata</button>
<div class="metadata well" collapse="!vv.showData[vv.manifest['@id']]">
<dl ng-class="{'dl-horizontal':!vv.showWav}">
    <span ng-repeat="m in vv.manifest.metadata">
    <dt ng-repeat-start="(key,value) in m" title={{key}}>{{key}}</dt>
    <dd ng-repeat-end>{{value.join(',')||value}}
        <a ng-if="value.indexOf('htt')===0" target="_blank"
           ng-href="{{value}}">
            <i class="fa fa-external-link"></i>
        </a>
    </dd>
    </span>
</dl>
</div>
</div>
</div>
<div class="col-sm-6" ng-class="{'col-sm-3':!vv.showWav}" ng-repeat="m in vv.manifest.resources"
ng-show="thisOn(vv.manifest.resources,music['@id'])"
ng-init="music=rerum.getResource(m);windex=$index;">
    <button ng-click="vv.showWav[music['@id']]=true;ga('send', 'event','Music','request','itemID',music['@id']);" ng-if="!vv.showWav[music['@id']]"
            class="btn btn-default btn-block btn-responsive">
    <span class="help-block"> <i class="fa fa-music"></i> Load audio file and interactive media</span>
    {{music.label||'Music'}}</button>
    <wavesurfer ng-if="vv.showWav[music['@id']]"
                ng-attr-url="{{music.resource['@id']}}"
                wave-color="#333"
                progress-color="#002147"
                backend="MediaElement"
                min-px-per-sec=1>
<h4><button class="btn btn-default pull-right" ng-click="wavesurfer.playPause()"
    ng-show="wavesurfer.ready">
    <i class="fa" ng-class="{'fa-play':paused,'fa-pause':!paused}"></i>
    <span class='timer'>{{vv.currentTime[music['@id']]|number:2}}
        <span ng-hide="vv.currentTime[music['@id']]">Play</span>
    </span>
    </button> {{music.label}}</h4>
<div class="text-center">
    <p class="error" ng-show="error">loading error...</p>
    <i ng-hide="wavesurfer.ready"
       class="fa fa-4x fa-circle-o-notch fa-spin"></i>
        </div>
    </wavesurfer>
<div ng-controller="viewController">
<card ng-repeat="line in vv.lines[vv.manifest.resources[windex]]"
 ng-if="vv.showWav[music['@id']]"
 ng-show="(line.selector.indexOf(vv.manifest.sequences[0].canvases[vv.selectedCanvas]['@id']) === -1 ) && thisOn(vv.manifest.resources,line.mid[0]).length && inTime(line.mid.join('#t='))">
<a ng-click="pickM(rerum.getResource(findManifest(line.label,'@id')))">
    <span ng-bind-html="findManifest(line.label,'label')"></span>
<img selector="line.selector" width="100%"></a>
</card>
</div>

    <!--    Thanks, Augmented Notes! The code was not used here, but was useful in the preparation of the musical annotations.
    <a class="license" rel="license" href="http://creativecommons.org/licenses/by/3.0/">
        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png">
    </a>
    <a class="augnotes-badge" href="http://www.augmentednotes.com">
        <img alt="Powered by Augmented Notes" style="border-width:0" src="media/augnotes_badge.png" width="85px">
    </a>
    -->

</div>
<script>
    ga('ec:addImpression', {'name': vv.manifest['@id']});
    ga('set', 'page', '/viewManifest.html');
    ga('send', 'pageview');
</script>
</div>
