<div class="col-sm-12 recording" ng-init="music = vv.recording;">
    <h3> {{music.label}} </h3>

    <wavesurfer ng-attr-url="{{music.resource['@id']}}"
                wave-color="#333"
                progress-color="#002147"
                min-px-per-sec=1>
        <div class="text-center position-absolute col-xs-12">
            <p class="error" ng-show="error">loading error...</p>
            <i ng-hide="wavesurfer.ready"
               class="fa fa-4x fa-circle-o-notch fa-spin"></i>
        </div>
    </wavesurfer>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="wavesurfer.playPause()"
                ng-show="wavesurfer.ready">
            <i class="fa" ng-class="{'fa-play':paused,'fa-pause':!paused}"></i>
            <span class='timer'>{{vv.currentTime[music['@id']]|number:2}}
                <span ng-hide="vv.currentTime[music['@id']]">Play</span>
            </span>
        </button>
        <a class="btn btn-default" href="#/music">Browse Available Scores</a>
    </div>

    <div class="well">
        <h4>Other Recordings</h4>
        <ul class="list-unstyled">
            <li ng-repeat="p in performances">
                <a ng-href="#/recording/{{p['@id']}}">{{p.label}}</a>
                <a title="Listen directly in your browser" target="_blank"
                   ng-href="{{p.resource['@id']}}"></a>
            </li>
        </ul>
    </div>

    <!--    Thanks, Augmented Notes! The code was not used here, but was useful in the preparation of the musical annotations.
    <a class="license" rel="license" href="http://creativecommons.org/licenses/by/3.0/">
        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png">
    </a>
    <a class="augnotes-badge" href="http://www.augmentednotes.com">
        <img alt="Powered by Augmented Notes" style="border-width:0" src="media/augnotes_badge.png" width="85px">
    </a>
    -->

    <script>
                ga('ec:addImpression', {
                    'name': vv.manifest['@id']
                });
                ga('set', 'page', '/viewManifest.html');
                ga('send', 'pageview');
    </script>
</div>
